# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
data.groupby(['Department']).agg({'Name':'count'})

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
test_hourly = data['Hourly Rate'][data['Salary or Hourly'] == 'Hourly']

stat, pval = ttest_1samp(test_hourly, 30)

print('Stat is  ', stat)
print('\nP value for the two-tailed test is ', pval)
test_hourly.mean()

Stat is   31.211500329216044

P value for the two-tailed test is  3.825475847673794e-202

34.58644971862046

The P value is inferior, so we reject the H0, meaning that in fact the wage is diferent from 30$

In [9]:
print('Actual wage', 30 - scipy.stats.sem(test_hourly)*stat)

Actual wage 25.413550281379983

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
test_salary = data['Annual Salary'][data['Salary or Hourly'] == 'Salary']

stat, pval = ttest_1samp(test_salary, 86000)

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   23.149576589194083
pvalue for the one-tailed test is  1.1882570425863358e-117

In [13]:
print('Actual year salary', 86000 - scipy.stats.sem(test_salary)*stat)

Actual year salary 82938.20500000002

Using the `crosstab` function, find the department that has the most hourly workers.

In [60]:
test_hour = data[data['Salary or Hourly'] == 'Hourly']
pd.crosstab(test_hour['Department'], test_hour['Salary or Hourly'])

Salary or Hourly     Hourly
Department
ANIMAL CONTRL            12
AVIATION               1214
BUDGET & MGMT             2
BUSINESS AFFAIRS          7
CITY COUNCIL             74
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
HEALTH                    2
HOUSING & ECON DEV        3
LAW                      48
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
WATER MGMNT            1558

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [15]:
test_salary_SS = data['Hourly Rate'][(data['Salary or Hourly'] == 'Hourly') & (data['Department'] == 'STREETS & SAN')] 

test_salary_SS
stat, pval = ttest_1samp(test_salary_SS, 35)

print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [17]:
print('Actual wage', 35 - scipy.stats.sem(test_salary_SS)*stat)

Actual wage 34.4477031419285

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [91]:
# function to calculate intervals with a given dataset
def c_interval(data, confidence_level = .95):
    degrees_freedom = len(data) - 1
    sample_mean = np.mean(data)
    sample_standard_error = scipy.stats.sem(data) 

    confidence_interval = scipy.stats.t.interval(confidence_level, 
                                                 degrees_freedom, 
                                                 sample_mean, 
                                                 sample_standard_error)

    print(confidence_level*100,'%   Confidence interval is ', round(confidence_interval[0],2), '-', round(confidence_interval[1],2))
    return

In [92]:
test_confidence = data['Hourly Rate'][data['Salary or Hourly'] == 'Hourly']
c_interval(test_confidence)

95.0 %   Confidence interval is  34.3 - 34.87

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [93]:
test_confidence_2 = data['Annual Salary'][(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
c_interval(test_confidence_2)

95.0 %   Confidence interval is  88534.12 - 89134.12

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

0.159